.fl {
    float: left;
}

.fr {
    float: right;
}

.mt-50 {
    margin-top: 50px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-5 {
    margin-right: 5px;
}
.article-board thead th {
    border-top-color: #333;
    border-bottom-color: #f2f2f2;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}