
.wrap {
    position: relative;
    height: 100%;
    letter-spacing: -.5px;
}

.header {
    padding-bottom: 48px;
    box-sizing: border-box;
}

.header .header_inner {
    position: relative;
    width: 743px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.header .logo {
    display: inline-block;
    margin-top: 108px;
    vertical-align: top;
    background-position: 0 4px;
    background-repeat: no-repeat;
    width: 215px;
    height: 44px;

}

.footer .footer_logo, .header .logo {
    background-image: url("../image/logo/cafe_logo2_resize.png");
    background-size: 215px 44px;
    background-repeat: no-repeat;
}


.banner_wrap .login_wrap {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.login_card {
    width: 21rem;
}