<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jupo.board.post.service.impl.PostDAO">


	<sql id ="searchPost">
		<!-- 검색결과를 위한 쿼리문 -->
		<choose>
			<when test="searchOption=='all'">
				<!-- 검색옵션 : 전체(디폴트값) -->
				AND (
				b.nickname like CONCAT('%',#{keyword},'%')
				OR b.login_id like CONCAT('%',#{keyword},'%')
				OR a.content like CONCAT('%',#{keyword},'%')
				OR a.title like CONCAT('%',#{keyword},'%')
				)
			</when>

			<when test="searchOption=='userId'">
				<!-- 검색옵션 : 작성자 아이디 -->

				AND(
					b.login_id like CONCAT('%',#{keyword},'%')
				OR 	b.nickname like CONCAT('%',#{keyword},'%')
				)


			</when>
			<when test="searchOption=='content'">
				<!-- 검색옵션 : 내용 -->

				AND a.content like CONCAT('%',#{keyword},'%')

			</when>
			<when test="searchOption=='title'">
				<!-- 검색옵션 : 제목 -->

				AND a.title like CONCAT('%',#{keyword},'%')

			</when>

			<otherwise>
				<!-- 검색옵션 :  -->

			</otherwise>
		</choose>
	</sql>
	<select id="selectPostListCnt" parameterType="postVO" resultType="java.lang.Integer">
	/* 게시글 건수 조회 - /src/main/resources/mappers/postMapper.xml - selectPostListCnt */
		SELECT
			COUNT(*)
		FROM
    		tb_post	AS a
    	 
    	LEFT JOIN
			tb_user	AS b
		ON a.frst_regt_no = b.user_no
		WHERE 1=1
		AND a.del_yn = 'N'
		<include refid="searchPost"></include>
			 
	</select>


	<select id="selectPostList" resultType="postVO" parameterType="postVO">
	/* 게시글 리스트 조회 - /src/main/resources/mappers/postMapper.xml - selectPostList */
		SELECT
		all_list.*
		FROM
		(
			SELECT
				  a.post_no
				, a.title
				, a.frst_regt_no
			    , b.login_id
				, b.nickname
				, a.frst_regt_dt
				, a.last_updt_dt
			    , a.view_cnt
				, a.thumbnail
				, CASE WHEN count(c.file_no) > 0 THEN 'Y' ELSE 'N' END AS file_yn
			FROM
				tb_post	AS a
			LEFT JOIN tb_user AS b
			ON a.frst_regt_no = b.user_no
			LEFT JOIN tb_file AS c
			ON a.post_no = c.post_no
			AND c.del_yn = 'N'

			WHERE 1=1
			AND a.del_yn = 'N'
			<include refid="searchPost"></include>
			GROUP BY post_no
			ORDER BY post_no DESC
		) all_list
		LIMIT #{start}, #{pageSize}

	</select>


    <select id="countFile" parameterType="java.lang.String"  resultType="java.lang.Integer">
    /* 첨부파일 개수 리턴 - /src/main/resources/mappers/postMapper.xml - countFile */
		SELECT
			COUNT(file_no)
		FROM
			tb_file
		WHERE 1=1
		AND del_yn		= 'N'
		AND	post_no		= #{postNo}

    </select>
    
    
	<update id="viewCntPost">
	/* 게시글 조회 수 증가 - /src/main/resources/mappers/postMapper.xml - viewCntPost */
		UPDATE
			tb_post
		SET
			view_cnt = view_cnt+1
		WHERE
			POST_NO = #{postNo}
	
	</update>
    

    <update id="modifyPost">
	/* 게시글 수정 - /src/main/resources/mappers/postMapper.xml - modifyPost */
		UPDATE
			tb_post
    	SET
    	  title			= #{title}
    	, content		= #{content}
    	, last_updt_no	= #{lastUpdtNo}
    	, last_updt_dt	= NOW()
    	WHERE
    		post_no 	= 	#{postNo}
    	 
    </update>
    
    <update id ="deletePost">
	/* 게시글 삭제 - /src/main/resources/mappers/postMapper.xml - deletePost */
    	UPDATE
    		POST_TB
    	SET
    		DEL_FL = 'Y'
    	WHERE
    		POST_NO_PK = #{postNo}
    	 
    </update>
    
    
    <select id="selectPostDetail" resultType="postVO" parameterType="postVO">
	/* 게시글 상세정보 조회- /src/main/resources/mappers/postMapper.xml - selectPostDetail */
    	SELECT
			  a.title
			, a.post_no
			, a.content
			, b.login_id
			, a.frst_regt_dt
			, a.latitude
			, a.longitude
			, a.last_updt_dt
			, a.view_cnt
			, b.nickname
    		, a.thumbnail
		FROM
		tb_post	AS a
    	 
    	LEFT JOIN
			tb_user	AS b
        ON
			a.frst_regt_no = b.user_no
    	WHERE 1=1
    	AND a.post_no = #{postNo}
		AND a.del_yn = 'N'
    	 
    </select>
    
    <insert id="insertPostInfo" useGeneratedKeys="true" keyProperty="postNo">
	/* 게시글 작성- /src/main/resources/mappers/postMapper.xml - insertPostInfo */
	    INSERT INTO tb_post
	    (
	    	  title
	    	, content
	    	, frst_regt_no
	    	, frst_regt_dt
	    	, last_updt_no
	    	, last_updt_dt
	    	, view_cnt
	    	, latitude
	    	, longitude
	    	, del_yn
	    	, board_no
	    	, thumbnail
	    )
	    VALUES
	    (
	    	  #{title}
	    	, #{content}
	    	, #{frstRegtNo}
	    	, NOW()
	    	, #{frstRegtNo}
	    	, NOW()
	    	, 0
	    	, #{latitude}
			, #{longitude}
			, 'N'
			, #{boardNo}
			, #{thumbnail}
	    )
    </insert>
    
    <insert id="insertFile" parameterType="hashmap">
	/* 첨부파일 저장 - /src/main/resources/mappers/postMapper.xml - insertFile */
    	INSERT INTO tb_file
    	(
    		  post_no
    		, file_sn
    		, original_file_nm
    		, stored_file_nm
    		, file_size
    		, stored_path
    		, file_cd
    		, file_ext
    		, frst_regt_no
    		, frst_regt_dt
    		, del_yn
    	)
    	VALUES
    	(
    		  #{postNo}
    		, #{fileSn}
    		, #{originalFileNm}
    		, #{storedFileNm}
    		, #{fileSize}
    		, #{storedPath}
    		, #{fileCd}
    		, #{fileExt}
    		, #{frstRegtNo}
    		, NOW()
    		, 'N'
    	)
    </insert>
    
    <select id="selectFileList" resultType="hashmap">
	/* 첨부파일 리스트 불러오기 - /src/main/resources/mappers/postMapper.xml - selectFileList */
    	SELECT
    		  file_no
    		, original_file_nm
    	    , stored_file_nm
    		, ROUND(file_size/1024,1)	AS file_size
    	FROM
    		 tb_file
    	WHERE 1=1
    	AND del_yn		= 'N'
    	AND post_no		= #{postNo}
		ORDER BY file_sn ASC
    </select>
    
    <select id ="selectFile" resultType="hashmap">
	/* 첨부파일 조회 - /src/main/resources/mappers/postMapper.xml - selectFile */
		SELECT
			  original_file_nm
			, stored_file_nm
		    , file_cd
		    , file_ext
			, stored_path
		FROM tb_file
		WHERE 1=1
		AND del_yn = 'N'
		AND file_no = #{fileNo}
    </select>
    
    <update id ="deleteFiles">
	/* 게시글 첨부파일 삭제 - /src/main/resources/mappers/postMapper.xml - deleteFiles */
    	UPDATE tb_file
    	SET
    		  del_yn = 'Y'
    	WHERE 1=1
    	AND post_no = #{postNo}
    </update>

    <update id ="deleteFile">
	/* 선택한 첨부파일 삭제 - /src/main/resources/mappers/postMapper.xml - deleteFile */
    	UPDATE tb_file
    	SET
			del_yn = 'Y'
    	WHERE 1=1
    	AND file_no = #{fileNo}
    </update>
</mapper>


