<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jupo.board.post.service.impl.PostDAO">
	<!-- 

	postNum 	: 글 번호 (기본키)
	title 		: 글 제목
	content 	: 글 내용
	writer 		: 작성 회원 번호 (외래키)
	wrtDt 		: 작성일자
	reDt 		: 수정일자
	fileName 	: 첨부파일명
	fileDir 	: 첨부파일 경로
	viewCnt 	: 조회수
	wrtId 		: 작성 회원 아이디
	
	-->
	<resultMap id="postMap" type="postVO">

		<result property="postNum"		column="POST_NO_PK" />
		<result property="title" 		column="TITLE" />
		<result property="content" 		column="CONTENT" />
		<result property="wrtNo"		column="WRT_NO" />
		<result property="wrtDt" 		column="WRT_DATE"/>
		<result property="reDt" 		column="WRT_RE_DATE"/>
		<result property="viewCnt" 		column="VIEW_CNT" />
		<result property="wrtId" 		column="USER_ID"/>
		
	</resultMap>


	<select id="selectPostListCnt" parameterType="postVO" resultType="java.lang.Integer">
	/* 게시글 건수 조회 */
		SELECT
			COUNT(POST_NO_PK)
		FROM
    		POST_TB	AS a
    	 
    	LEFT JOIN
			USER_TB	AS b
		ON
			a.WRT_NO = b.USER_NO_PK
		WHERE 1=1
		AND A.DEL_FL = 'N'
		<include refid="search"></include>
			 
	</select>


	<select id="selectPostList" resultMap="postMap" parameterType="postVO">
	/* 게시글 리스트 조회 - selectPostList */
		SELECT
		ALL_LIST.*
		FROM
		(
			SELECT
				  a.TITLE
			    , a.POST_NO_PK
				, a.CONTENT
				, a.WRT_NO
				, a.WRT_DATE
				, a.WRT_RE_DATE
				, a.VIEW_CNT
				, b.USER_ID
			FROM
				POST_TB	AS a
			LEFT JOIN
				USER_TB	AS b
			ON
				a.WRT_NO = b.USER_NO_PK
			WHERE 1=1
			AND A.DEL_FL= 'N'
			<include refid="search"></include>

			ORDER BY
			POST_NO_PK DESC
		) ALL_LIST
		LIMIT #{start}, #{pageSize}

	</select>

	<sql id ="search">
	<!-- 검색결과를 위한 쿼리문 -->
		<choose>
			<when test="searchOption=='all'">
			<!-- 검색옵션 : 전체(디폴트값) -->
				AND (
					   B.USER_ID like CONCAT('%',#{keyword},'%')
					OR A.CONTENT like CONCAT('%',#{keyword},'%')
					OR A.TITLE like CONCAT('%',#{keyword},'%')
				)
			</when>

			<when test="searchOption=='userId'">
			<!-- 검색옵션 : 작성자 아이디 -->

				 AND B.USER_ID like CONCAT('%',#{keyword},'%')

			</when>
			<when test="searchOption=='content'">
			<!-- 검색옵션 : 내용 -->

				 AND A.CONTENT like CONCAT('%',#{keyword},'%')

			</when>
			<when test="searchOption=='title'">
			<!-- 검색옵션 : 제목 -->

				 AND A.TITLE like CONCAT('%',#{keyword},'%')

			</when>

			<otherwise>
			<!-- 검색옵션 : 오류 -->

			</otherwise>
		</choose>
	</sql>
    
    <select id="countFile" parameterType="java.lang.String"  resultType="java.lang.Integer">
    	/* 첨부파일 개수 리턴 - /src/main/resources/mappers/postMapper.xml - countFile */
		SELECT
			COUNT(FILE_NO)
		FROM
			FILE_TB
		WHERE 1=1
		AND DEL_FL		= 'N'
		AND	POST_NO		= #{postNo}

    </select>
    
    
	<update id="viewCntPost">
	/* 게시글 조회 수 증가 - viewCntPost */

		UPDATE
			POST_TB
		SET
			VIEW_CNT = VIEW_CNT+1
		WHERE
			POST_NO_PK = #{postNo}
	
	</update>
    

    <update id="modifyPost">
    /* 게시글 수정 - modifyPost */
    	UPDATE
    		POST_TB
    	SET
    		TITLE		=	#{title}
    	,	CONTENT		=	#{content}
    	,	WRT_RE_DATE	=	NOW()
    	WHERE
    		POST_NO_PK 	= 	#{postNum}
    	 
    </update>
    
    <update id ="deletePost">

    	UPDATE
    		POST_TB
    	SET
    		DEL_FL = 'Y'
    	WHERE
    		POST_NO_PK = #{postNo}
    	 
    </update>
    
    
    <select id="selectPostDetail" resultType="postVO" resultMap="postMap">
    /* 게시글 상세정보 조회 - selectPostDetail */
    	SELECT
			  a.TITLE
			, a.POST_NO_PK
			, a.CONTENT
			, a.WRT_NO
			, a.WRT_DATE
			, a.WRT_RE_DATE
			, a.VIEW_CNT
			, b.USER_ID
		FROM
		POST_TB	AS a
    	 
    	LEFT JOIN
			USER_TB	AS b
        ON
			a.WRT_NO = b.USER_NO_PK
          
    	WHERE
    		POST_NO_PK = #{postNo}
    	 
    </select>
    
    <insert id="insertPostInfo" useGeneratedKeys="true" keyProperty="postNum">
	/* 게시글 작성 - insertPostInfo */
    
	    INSERT INTO POST_TB
	    (
	    		TITLE
	    	,	CONTENT
	    	,	WRT_NO
	    	,	WRT_DATE
	    	,	WRT_RE_DATE
	    	,	DEL_FL
	    	,	VIEW_CNT
	    )
	     
	    VALUES
	     
	    (
	    		#{title}
	    	,	#{content}
	    	,	#{wrtNo}
	    	,	NOW()
	    	,	NOW()
	    	,	'N'
	    	,	0
	    )
	     
    </insert>
    
    <insert id="insertFile" parameterType="hashmap">
    <!-- 첨부파일 저장 -->
    
    	INSERT INTO FILE_TB
    	(
    			POST_NO
    		,	ORIGINAL_NAME
    		,	STORED_NAME
    		,	FILE_SIZE
    	
    	)
    	VALUES
    	(
    			#{postNum}
    		,	#{originalFileName}
    		,	#{storedFileName}
    		,	#{fileSize}
    		
    	
    	)
    	
    </insert>
    
    <select id="selectFileList" resultType="hashmap">
    <!-- 첨부파일 리스트 불러오기 -->
    
    <![CDATA[
    	
    	SELECT
    		  FILE_NO
    		, ORIGINAL_NAME
    		, ROUND(FILE_SIZE/1024,1)	AS FILE_SIZE
    	FROM
    		  FILE_TB
    	WHERE
    		DEL_FL = "N"
    		  
    	AND
    	(
    		POST_NO = #{postNo}
    	)
    ]]>
    
    </select>
    
    <select id ="selectFile" resultType="hashmap">

	<!-- 첨부파일 조회 -->


		SELECT

			STORED_NAME
		,	ORIGINAL_NAME

		FROM
			FILE_TB

		WHERE
			FILE_NO = #{fileNo}
			
			
			
    </select>
    
    <update id ="deleteFiles">
    <!-- 파일 삭제 -->
    
    	UPDATE
    		FILE_TB
    	
    	SET
    		DEL_FL = 'Y'
    	 
    	WHERE
    		POST_NO = #{postNo}
    	 
    </update>
    
    <update id ="deleteFile">
    <!-- 파일 삭제 -->
    
    	UPDATE
    		FILE_TB
    	
    	SET
    		DEL_FL = 'Y'
    	 
    	WHERE
    		FILE_NO = #{fileNo}
    	 
    </update>
    
</mapper>


