<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jupo.board.user.service.impl.UserDAO">

	<insert id="insertUserInfo" parameterType="userVO">
		/* 회원가입 - /src/main/resources/mappers/userMapper.xml - insertUserInfo */
		INSERT INTO tb_user
		(
		  login_id
		, password
		, email
		, user_nm
		, nickname
		, phone_no
		, user_addr
		, user_addr_dtl
		, zip
		, user_cd
		, frst_regt_dt
		, last_updt_dt
		, resign_yn
		)
		
		VALUES
		(
		  #{loginId}
		, #{password}
		, #{email}
		, #{userNm}
		, #{nickname}
		, #{phoneNo}
		, #{userAddr}
		, #{userAddrDtl}
		, #{zip}
		, #{userCd}
		, NOW()
		, NOW()
		, 'N'
		)
		
	</insert>

	<select id="getLoginIdCnt" parameterType="String" resultType="java.lang.Integer">
		/* 아이디 중복확인 (같은 아이디 개수 리턴) - /src/main/resources/mappers/userMapper.xml - getLoginIdCnt */
   		SELECT
   			COUNT(user_no)
   		FROM
			tb_user
		WHERE 1=1
		AND resign_yn = 'N'
		AND Login_id = #{loginId}
    </select>

	<select id="getNicknameCnt" parameterType="String" resultType="java.lang.Integer">
		/* 닉네임 중복확인 (같은 닉네임 개수 리턴) - /src/main/resources/mappers/userMapper.xml - getNicknameCnt */
		SELECT
			COUNT(nickname)
		FROM tb_user
		WHERE 1=1
		  AND resign_yn = 'N'
		  AND nickname = #{nickname}
	</select>

	<select id="selectUserInfo" resultType="userVO">
		/* 입력한 아이디 유저 정보 리턴 - /src/main/resources/mappers/userMapper.xml - selectUserInfo */
		SELECT
			  user_no
			, login_id
			, email
			, user_nm
			, nickname
			, user_level
			, phone_no
		FROM tb_user
		WHERE 1=1
		AND resign_yn = 'N'
		AND login_id = #{loginId}
	</select>

</mapper>