<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jupo.board.user.service.impl.UserDAO">

	<insert id="insertUserInfo" parameterType="userVO">
		/* 회원가입 - /src/main/resources/mappers/userMapper.xml - insertUserInfo */
		INSERT INTO tb_user
		(
		  login_id
		, password
		, email
		, user_nm
		, phone_no
		, user_addr
		, user_addr_dtl
		, zip
		, user_cd
		, frst_regt_dt
		, last_updt_dt
		, resign_yn
		)
		VALUES
		(
		  #{loginId}
		, #{password}
		, #{email}
		, #{userNm}
		, #{phoneNo}
		, #{userAddr}
		, #{userAddrDtl}
		, #{zip}
		, #{userCd}
		, NOW()
		, NOW()
		, 'N'
		)

	</insert>

	<select id="getLoginIdCnt" parameterType="String" resultType="java.lang.Integer">
		/* 아이디 중복확인 (같은 아이디 개수 리턴) - /src/main/resources/mappers/userMapper.xml - getLoginIdCnt */
   		SELECT
   			COUNT(user_no)
   		FROM
			tb_user
		WHERE 1=1
		AND resign_yn = 'N'
		AND Login_id = #{loginId}
    </select>

	<select id="selectUserInfo" resultType="userVO">
		/* 입력한 아이디 유저 정보 리턴 - /src/main/resources/mappers/userMapper.xml - selectUserInfo */
		SELECT
			  a.user_no
			, a.login_id
			, a.email
			, a.user_nm
			, a.phone_no
		FROM tb_user AS a
		WHERE 1=1
		AND a.resign_yn = 'N'
		AND a.login_id = #{loginId}
	</select>
</mapper>